[submodule "QT/inc/KMI_KMDM"]
	path = QT/inc/KMI_KMDM
	url = ssh://git@github.com/Muse-Kinetics/kmi_midi_device_manager.git
[submodule "QT/inc/rtmidi"]
	path = QT/inc/rtmidi
	url = ssh://git@github.com/Muse-Kinetics/rtmidi.git
[submodule "mk_firmware_tester"]
	path = mk_firmware_tester
	url = ssh://git@github.com/Muse-Kinetics/mk_firmware_tester.git