<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    	<Name>12 Step Editor Installer</Name>
    	<Version>3.0.8</Version>
    	<Title>12 Step Editor Installer</Title>
    	<Publisher>Keith McMillen Instruments</Publisher>
    	<StartMenuDir>Keith McMillen Instruments</StartMenuDir>
		<TargetDir>@HomeDir@/KMI/12 Step Editor</TargetDir>
		<WizardStyle>Mac</WizardStyle>
		<StyleSheet>style.qss</StyleSheet>
		<ControlScript>controller.qs</ControlScript>
		<RemoteRepositories>
			<Repository>
				<Url>https://muse-kinetics.github.io/12-step-editor-qt6/update-repository</Url>
				<Enabled>1</Enabled>
				<DisplayName>12 Step Editor Update Repository</DisplayName>
			</Repository>
		</RemoteRepositories>
</Installer>
